<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selezione Codici</title>
    <!-- Collegamento a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Collegamento al file CSS personalizzato -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_boots.css') }}">
</head>
<body>
    <div class="container">
        <header class="text-center py-5">
            <h1 class="custom-heading">Selezione dei codici</h1>
            <p class="lead custom-paragraph">Questa è la pagina di selezione dei codici</p>
        </header>
        <form action="/inserimento_limiti" method="post">
        <section class="row">
                <div class="form-row">
                    <div class="col-md-6 custom-card">
                        <div class="card">
                            <div class="card-body">

                                <h5 class="card-title">Pressa</h5>
                                <p class="card-text">Cerca e seleziona il codice della pressa desiderato</p>

                                <input  name="codice_pressa"  id="codice_pressa_input" class="btn btn-secondary" required >
                                <datalist id="codice_pressa">
                                    {% for item in data_pressa %}
                                        <option value="{{ item[0] }}">{{ item[0] }}</option>
                                    {% endfor %}
                                    
                                </datalist>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 custom-card">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Tag stampo</h5>
                                <p class="card-text">Cerca e seleziona il codice del tag_stampo desiderato</p>
                                
                                <input  name="TAG_stampo" id="TAG_stampo_input" class="btn btn-secondary" >
                                <datalist  id="TAG_stampo" >
                                   
                                    {% for item in data_tag_stampo %}
                                        <option value="{{ item[0] }}">{{ item[0] }}</option>
                                    {% endfor %}
                                    
                                </datalist>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 custom-card">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Part Number</h5>
                                <p class="card-text">Cerca e seleziona il codice del Part Number desiderato</p>
                                <!-- Dropdown modificabile -->
                                <input name="part_number" id="part_number_input" class="btn btn-secondary">
                                <datalist id="part_number">
                                    {% for item in data_part_number %}
                                        <option value="{{ item[0] }}">{{ item[0] }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                    </div>
                
                
                    <div class="col-md-6 custom-card">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ordine</h5>
                                <p class="card-text">Cerca e seleziona il codice del ordine desiderato</p>
                                
                                <input name="ordine" id="ordine_input" class="btn btn-secondary">
                                <datalist id="ordine" >
                                    {% for item in data_ordine %}
                                        <option value="{{ item[0] }}">{{ item[0] }}</option>
                                    {% endfor %}
                                </datalist>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </form>  
            <button class="btn btn-primary floating-button" type="submit">Invia</button>     
    
        </section>
    </div>
    
    </form>
    <!-- script per rendere dropdown anche un input-->
    <script src="{{ url_for('static', filename='js/script1.js') }}"></script>
    <!-- script per filtrare la quarta datalist basandosi sulle prime tre-->
    <script src="{{ url_for('static', filename='js/script2.js') }}"></script>
    <!-- Script di Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    
</body>
</html>